psycopg2-binary
redis
python-redis-lock==3.2.0
django==2.2
djangorestframework==3.11.0
django-filter==2.2.0
django-cors-headers==3.2.0
django-celery-beat==1.5.0
celery[redis]
channels==2.1.5
channels_redis==2.3.1
gunicorn==19.9.0
uvicorn
django-redis==4.11.0
django-bulk-update
drf-yasg==1.17.0
web3>=5.0
bitcoin==1.1.42
ecdsa==0.13
sortedcontainers==2.1.0
